<div class="col-md-12">
  <h1>新增隊伍</h1>

  <hr>
  <%= simple_form_for @group do |f| %>
    <div class="form-group">
      <%= f.input :title, label: "隊名", input_html: { class: "form-control"} %>
    </div>
    <%= f.submit "送出", disable_with: 'Submitting...', class: "btn btn-primary"%>
  <% end %>
</div>
