<div class="col-md-12">
  <div class="group">

    <% if current_user.is_member_of?(@group) %>
      <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right")%>
    <% end %>

    <% if current_user.present? %>
      <% unless current_user.has_join_group? %>
        <%= link_to("Join Group", join_group_path(@group), method: :post, class: "btn btn-info") %>
      <% end %>
    <% end %>

  </div>

  <h2>隊伍名稱：<%= @group.title %></h2>
  <hr />

  <% @group.users.each do |user| %>
    <%= user.email %><br />
  <% end %>
</div>
