<h1>Users#show</h1>

<p>
  名字:<%= @user.name %><br />
  單位: (學校+科系+等級別+日夜別+年級)<br />
  相關專長:<%= @user.experience %><br >
  相關經歷:<%= @user.experience %><br >
  相關課程:<%= @user.course %><br >
  參與BDC課程: <br >
  狀態: temp <br />
</p>
