<div>
  <p>
    在大數據時代，面對物聯網、智慧工廠及工業4.0相關技術驅動的產業結構重整，本競賽垂直整合相關領域提供半導體大數據實戰擂台及相關培訓課程，
    以培養更多符合未來產業需求的大數據人才，歡迎學生組成跨領域團隊前來挑戰並參加培訓，符合資格者將發給參賽或晉級等相關證明。
    <% if current_user && current_user.ustatus = Ustatus.find_by(name: "缺切結書") %>
      <a href=<%= root_url + "/BDC2015切結書.pdf" %> download type="button" class="btn btn-info">切結書下載</a>
    <% end %>
  </p>

  <h2>獎勵方法</h2>
  <hr />
  <p>
    第一名：獎金 新台幣 30 萬元，指導老師獎盃一座，學員每人獎牌一面　<br />
    第二名：獎金 新台幣 10 萬元，指導老師獎盃一座，學員每人獎牌一面  <br />
    第三名：獎金 新台幣 5 萬元 ，指導老師獎盃一座，學員每人獎牌一面  <br />
  </p>
  <br />

  <h2>參賽資格</h2>
  <hr />
  <p>
    於競賽期間(2015/9-2015/12)就讀國內各公私立大專院校之在學生（不包含在職生），詳情參考活動辦法。
  </p>
  <br />

  <h2>競賽流程</h2>
  <hr />
  <p>
    1. 在2015年9月16日前至報名系統填寫個人資料，並下載切結書簽名後寄回至主辦單位完成個人報名，可隨時登入報名統查詢個人狀態，詳細說明請參閱活動辦法；
    2. 參與培訓課程與競賽說明會(無需報名競賽即可參與)，並搭配報名系統提供的參賽者查詢功能找到志同道合的隊友，確認符合組隊資格後填寫組隊表，在2015年9月16日前寄回至主辦單位完成組隊程序，可隨時登入報名統查詢隊伍狀態;
    3. 確認隊伍使用軟體（2015年9月16日前），並經主辦單位審核通過後取得初賽資格，可登入報名系統取得遠端連線資訊，於2015年9月22日正式進入初賽階段。
    4. 晉級複賽隊伍依規定得增加一名隊友，並需重新提交組隊表以及上傳每位隊員的學生證影本，同時需派員參與協辦廠商所提供之培訓課程以及主辦單位所舉辦之複賽說明會，經資格審核後得以於2015年11月17日正式進入複賽。
    5. 晉級決賽隊伍將於2015年12月15日進行簡報，並於2015年12月25日進行頒獎。
  </p>
  <br />
  <img src="http://step.unison.org.tw/bigdata/img/flowchart.png" alt="flowchart" class="thumbnail" width="1000" />

  <h2>立即報名</h2>
  <hr />
  <p>
    即日起至 2015 年 9 月 16 日（星期三）截止
  <% unless current_user %>
    <%= link_to("前往報名", new_user_registration_path, :class => "btn btn-info btn-lg") %>
  <% end %>
  </p>
</div>
